body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 20px;
    
 }
 .jumbotron {
     text-align: center;
     text-transform: uppercase;
     font-weight: bolder;
     color: darkslategrey;
 }
 .introduction{
     text-align: center;
 }
 h2 {
     text-align: center;
 }
   .submit button {
     color: darkred;
 }  
   .submit button:hover {
     color: darkslategrey;
 }  
 