body {
    background-color:black;
 }
 .jumbotron {
     text-align: center;
     text-transform: uppercase;
     font-weight: bolder;
     color: darkslategrey;
 }
 .introduction{
     text-align: center;
 }
 h2 {
     text-align: center;
 }
 /* .submit button {
     color: darkred;
 } */
 /* .submit button:hover {
     color: darkslategrey;
 } */
 